@media (max-width: 768px) {
    .pq-5{
        margin-top: 11rem !important;
    }
    .prashad-card-img{
        height: 10rem !important;
    }
    .prashad-card-body{
        height: 9rem !important;
    }
   .prashad-card-title{
    margin-top: -0.5rem;
   }
  
    }